<footer>
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">&copy; 2017. The Comparator / Byte Me</p>
            </p>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="../static/js/jquery.cookie.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/front.js"></script>

<!-- owl carousel -->
<script src="../static/js/owl.carousel.min.js"></script>

<!-- login/register js -->
<script src="../static/js/login-register.js"></script>
<script src="{{ url_for('static', filename='scripts/js/formValidation.js') }}"></script>