<header>

    <!-- BEGIN NAVBAR -->
    <div class="navbar-fixed-top" data-spy="affix" data-offset-top="200">
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container" id="nav-container">
                <div class="navbar-header">

                    <a class="navbar-brand home" href="/">
                        COMPARATOR
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Contact</a>
                        </li>
                        <li class="dropdown" id="login-dropdown">
                            <a href="#" data-toggle="modal" data-target="#login-modal"> <span style="color: white">Login</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
     <!-- END NAVBAR -->

</header>

<!-- LOGIN MODAL -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#invalidCredLoginDiv').hide()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Login</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="invalidCredLoginDiv" style="display:none">
                    <strong>Uh oh!</strong>
                    <span id="result"></span>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="loginUsername" name="loginUsername" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Password">
                    </div>

                    <p class="text-center">
                        <button class="btn btn-template-main" id="loginButton">Login</button>
                    </p>
                </form>

                <p class="text-center text-muted"><a href="#">Not registered yet?</a>
                    <br>
                <a href="forgotPassword">Forgot your password?</a></p>
            </div>
        </div>
    </div>
</div>