<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}

<!-- Include the nav bar -->
{% if current_user.is_anonymous %}
    {% include "partials/guestNavBar.html" %}
{% else %}
    {% include "partials/userNavBar.html" %}
{% endif %}

<link href="../static/css/about.css" rel="stylesheet">

<body>

<div id="all">

    <div class="banner">
        <img src="/static/img/aboutBanner.png" align="center" style="width: 100%">
    </div>

    <div class="row">
        <div class="col-sm-4" id="main-text">
            <p align="right">Compare Absolutely <strong>Anything</strong></p>
        </div>
        <div class="col-sm-7">
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>

            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <strong>Question?</strong>
        </div>
        <div class="col-sm-7">
            <h3><strong>Honey Chawla</strong> | Comparing Queen</h3>
            <p>yaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssssssssssssssssssss
            sssssssssssssssssssssqueeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeen</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/static/img/tomas.jpg">
        </div>
        <div class="col-sm-7">
            <h3><strong>Tomas Henriquez</strong> | Something Something</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <strong>Question?</strong>
        </div>
        <div class="col-sm-7">
            <h3><strong>Angelo Marcelo</strong> | Something Something</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <strong>Question?</strong>
        </div>
        <div class="col-sm-7">
            <h3><strong>Alex Wu</strong> | Something Something</h3>
        </div>
    </div>


    <!-- <div class="side-bar">
        <p align="right">Compare Absolutely <strong>Anything</strong></p>
        Let us help you make the best decision
    </div>
    <div style="padding-top: 0.8%">
        <div class="about-cont">
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>

            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
                attributes to determine which product is the best fit for you.</p>
        </div>
    </div> -->
</div>

<!-- Include the footer for things like copyright info and JS scripts -->
{% include "partials/footer.html" %}

</body>
</html>