<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}

<!-- Include the nav bar -->
{% if current_user.is_anonymous %}
    {% include "partials/guestNavBar.html" %}
{% else %}
    {% include "partials/userNavBar.html" %}
{% endif %}

<link href="../static/css/about.css" rel="stylesheet">

<body>

<div id="all">

    <div class="banner">
        <img src="/static/img/aboutBanner.png" align="center" style="width: 100%">
    </div>

    <div class="side-bar">
        Let us help you make the best decision
    </div>

    <div class="content">
        <p>With so many products that do similar things in the marketplace,
            it can be hard being a consumer in today's world.</p>
        <p><strong>Comparator</strong> helps you decide which product
            is right for you. Compare any item according to its many
            attributes to determine which product is the best fit for you.</p>
    </div>

    <!-- <div class="row">
        <div class="col-md-5">Let us help you make the best decision</div>
        <div class="col-md-7">
            <p>With so many products that do similar things in the marketplace,
                it can be hard being a consumer in today's world.</p>
            <p><strong>Comparator</strong> helps you decide which product
                is right for you. Compare any item according to its many
            attributes to determine which product is the best fit for you.</p>
        </div>
    </div> -->

</div>

<!-- Include the footer for things like copyright info and JS scripts -->
{% include "partials/footer.html" %}

</body>
</html>