<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
<!-- {% include "partials/userNavBar.html" %} -->

<link href="../static/css/dashboard.css" rel="stylesheet">

<body>

    <div id="all">

        <div class="col-sm-12"  style="padding-left: 37.5%">
            <hr style="clear: left;">
            <form id="dashSearch">
                <input class="search" type="search" name="search" placeholder="Search Comparisons and Templates">
                <button class="btn btn-template-main" type="submit">Submit</button>
                <input class="invisible" type="submit">
            </form>
            <div class="dashboard-content" id="recent-comps">
                <h1>Recent Comparisons</h1>

                {% for row in recent_comp %}
                    <div class="col-sm-5">
                    <button type="button" id="{{'recentComp' ~ row['id']}}" class="tile" onclick="location.href='{{row['id'] | share_comparison(current_user.id)}}'">
                        {{row['name']}}
                    </button>
                    </div>
                {% endfor %}
            </div>
            <hr style="clear: left;">
            <div class="dashboard-content" id="my-comps" style="clear: left;">
                <h1>My Comparisons</h1>
                {% for row in all_comp %}
                <div class="col-sm-5">
                    <button type="button" id="{{'comp' ~ row['id']}}" class="tile" onclick="location.href='{{row['id'] | share_comparison(current_user.id)}}'">
                        {{row['name']}}
                    </button>
                </div>
                {% endfor %}
            </div>
            <hr style="clear: left;">
            <div class="dashboard-content" id="my-temps" style="clear: left;">
                <h1>My Templates</h1>
                {% for row in all_temp %}
                <div class="col-sm-5">
                    <button type="button" id="{{'temp' ~ row['id']}}" class="tile" onclick="location.href='{{row['id'] | share_template(current_user.id)}}'">
                        {{row['name']}}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-4" id="nav-side">
            <div>
                <button type="submit" onclick="location.href='#recent-comps'">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    RECENT COMPARISONS
                </button>
            </div>
            <hr>
            <div class="nav-side-cont">
                <button type="submit" onclick="location.href='#my-comps'">
                    <i class="fa fa-compress" aria-hidden="true"></i>
                    MY COMPARISONS
                </button>
            </div>
            <hr>
            <div class="nav-side-cont">
                <button type="submit" onclick="location.href='#my-temps'">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    TEMPLATES
                </button>
            </div>
            <hr>
            <div>
                <button id="new-comp" type="submit" data-toggle="modal" data-target="#selectTemplateModal">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    NEW COMPARISON
                </button>
            </div>
        </div>



        <!-- Include the select template modal -->
        {% include "partials/userNavBar.html" %}
        {% include "partials/selectTemplateModal.html" %}


<!-- Include the footer for things like copyright info and JS scripts -->
{% include "partials/footer.html" %}
<!--<script src="../static/scripts/js/dashboard.bundle.js"></script>-->
</body>
</html>

<script>
    $("#dashSearch").submit(function(e) {
        e.preventDefault();
        var input = $(this).find(':input[type=search]').val();
        filterDisplay($("#recent-comps"), input);
        filterDisplay($("#my-comps"), input);
        filterDisplay($("#my-temps"), input);
    });

    function filterDisplay(div, str) {
        var tiles = div.children(".tile");
        tiles.each(function(index, element) {
            var match = $(element).text().toUpperCase().includes(str.toUpperCase());
            if (match) {
                $(element).show();
            } else {
                $(element).hide();
            }
        });
    };
</script>
<!--TODO: columns for select template-->
<!--TODO: make searching blank string show all tiles-->