<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/guestNavBar.html" %}

<body>

<div id="all">

    <!-- *** HOMEPAGE CAROUSEL *** -->

    <div class="home-carousel">
        <br>
        <div class="heading text-center">
            <h3>Forgot your Password?</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="alert alert-danger" role="alert" id="invalidCredForgotPasswordDiv" style="display:none">
                    <strong>Uh oh!</strong>
                    <span id="forgotPasswordResult"></span>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="emailOrUsername" name="emailOrUsername" placeholder="Email/Username">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-template-main" id="forgotPasswordButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
    <!-- *** HOMEPAGE CAROUSEL END *** -->

    <!-- Include the footer for things like copyright info and JS scripts -->
    {% include "partials/footer.html" %}

</div>

</body>
</html>