<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/guestNavBar.html" %}

<body>

<div id="all">

    <!-- *** HOMEPAGE CAROUSEL *** -->
        <div class="home-carousel">

            <div class="dark-mask"></div>

            <div class="container">
                <div class="row">

                    <div class="col-sm-7">
                        <div class="homepage owl-carousel">
                            <div class="item">
                                <img class="img-responsive" src="../static/img/image1.png" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="../static/img/image2.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="heading text-left">
                            <h3>Sign up!</h3>
                        </div>

                        <form id="registerForm">
                            <div class="form-group has-feedback" id='emailField'>
                                <input type="email" class="form-control" id="registerEmail" name="registerEmail" placeholder="Email">
                            </div>
                            <div class="form-group has-feedback" id='usernameField'>
                                <input type="text" class="form-control" id="registerUsername" name="registerUsername" placeholder="Username">
                            </div>
                            <div class="form-group has-feedback" id='passwordField'>
                                <input type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="Password">
                            </div>
                            <div class="form-group has-feedback" id='confirmPassField'>
                                <input type="password" class="form-control" id="registerPasswordConfirm" name="registerPasswordConfirm" placeholder="Confirm Password">
                            </div>
                            <div class="text-left">
                                <button class="btn btn-template-main" id="registerButton"><i class="fa fa-user-md"></i> Register</button>
                            </div>
                        </form>
                        <hr>
                        <div class="heading text-left">
                            <h3>Make a Comparison!</h3>
                        </div>
                        <div class="text-left">
                                <button type="submit" class="btn btn-template-main btn-lg" onclick="location.href='newComparison'">Start Comparing</button>
                        </div>
                        <br>
                    </div>
                </div>
                <!-- /.project owl-slider -->
            </div>
        </div>
        <!-- *** HOMEPAGE CAROUSEL END *** -->

    <!-- Include the footer for things like copyright info and JS scripts -->
    {% include "partials/footer.html" %}
</div>

</body>
</html>