<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/userNavBar.html" %}

<body>

<div id="all">

    <div class="home-carousel">
        <br>
        <h1 align="center">{{ current_user.username }}'s Profile</h1>
        <br>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="height: 100em">
                    <!-- *** MENU *** -->
                    <div class="panel panel-default sidebar-menu with-icons">
                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#changeImage">Profile Picture</a>
                                </li>
                                <li><a href="#changeUsername">Username</a>
                                </li>
                                <li><a href="template-content-boxes.html">E-mail Address</a>
                                </li>
                                <li><a href="template-blocks.html">Password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- *** END MENU *** -->
                </div>
                <div class="col-md-9" id="changeImage" align="center">
                    <br>
                    <button type="submit" class="btn btn-template-main btn-lg" href="#" data-toggle="modal"
                            data-target="#newImage-modal">
                        <img src="../static/img/user.png" class="img-responsive hidden-xs"
                             style="background-color: white; border-radius: 100%">
                        <br>
                        <p style="font-style: italic">Change image</p>
                    </button>
                </div>
                <br>
                <div class="col-md-3" id="changeUserData">
                    <form id="changeInfoForm">

                        <div class="alert alert-success" role="alert" id="successDiv" style="display:none">
                            <strong>Success!</strong>
                            <span>You have successfully changed your information!</span>
                        </div>
                        <div class="alert alert-danger" role="alert" id="overallErrorDiv" style="display:none">
                            <strong>Uh oh!</strong>
                            <span>At least one field must be filled out</span>
                        </div>

                        <div class="alert alert-danger" role="alert" id="usernameErrorDiv" style="display:none">
                            <strong>Uh oh!</strong>
                            <span id="usernameError"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="newUsername" class="form-control" id="newUsername"
                                   placeholder="Enter New Username">
                        </div>

                        <div class="alert alert-danger" role="alert" id="emailErrorDiv" style="display:none">
                            <strong>Uh oh!</strong>
                            <span id="emailError"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" name="newEmail" class="form-control" id="newEmail"
                                   placeholder="Enter New Email">
                        </div>

                        <div class="alert alert-danger" role="alert" id="passwordErrorDiv" style="display:none">
                            <strong>Uh oh!</strong>
                            <span id="passwordError"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="newPassword" class="form-control" id="newPassword"
                                   placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                                   placeholder="Confirm New Password">
                        </div>
                        <!--TODO: change to use ajax + regular button (assuming modal used)-->
                        <div class="text-center">
                            <button type="submit" id="submitButton" class="btn btn-template-main">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- *** NEW IMAGE MODAL *** -->
    <div class="modal fade" id="newImage-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="profilePic">Profile Picture</h4>
                </div>
                <div class="modal-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <img src="../static/img/user.png" class="img-responsive hidden-xs">
                        </div>

                        <p class="text-center">
                            <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Login
                            </button>
                        </p>
                    </form>

                    <p class="text-center text-muted"><a href="#">Not registered yet?</a><br>
                        <a href="forgotPassword">Forgot your password?</a></p>

                </div>
            </div>
        </div>
    </div>

    <!-- Include the footer for things like copyright info and JS scripts -->
    {% include "partials/footer.html" %}

</div>
</body>
</html>

<!--<script src="{{ url_for('static', filename='scripts/js/formValidation.js') }}"></script>-->
<script>

$(function() {
  $('button#submitButton').bind('click', function() {

    $("#successDiv").hide();
    $("#usernameErrorDiv").hide();
    $("#emailErrorDiv").hide();
    $("#passwordErrorDiv").hide();
    $("#overallErrorDiv").hide();

    var newUsername = $('#newUsername').val();
    var newEmail = $('#newEmail').val();
    var newPassword = $('#newPassword').val();
    var confirmPassword = $('#confirmPassword').val();

    // at least one field must be filled out
    if (!newUsername && !newEmail && !newPassword) {
        $("#overallErrorDiv").show();
        return false;
    }

    $.getJSON('/profile_form', {
        newUsername: newUsername,
        newEmail: newEmail,
        newPassword: newPassword
    }, function(data) {
        if (!data.error) {
            $("#successDiv").show();
        }
        if (data.username_error) {
            $("#usernameError").text(data.username_error);
            $("#usernameErrorDiv").show();
        }
        if (data.email_error) {
            $("#emailError").text(data.email_error);
            $("#emailErrorDiv").show();
        }
        if (newPassword != confirmPassword) {
            $("#passwordError").text('Passwords must match');
            $("#passwordErrorDiv").show();
        }
    });
    return false;
  });
});

</script>