<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/guestNavBar.html" %}

<body>
        <!-- *** Select Template Modal *** -->
        <div id="selectTemplateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="gridModalLabel">Select a Template to Begin</h4>
                    </div>
                    <div class="modal-body" style="height:350px; overflow-y: scroll">
                        <div class="cc-selector">
                            <div class="panel-group accordion" id="newTemplate">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#chooseTemplate" href="#collapseNew">New Template</a></h4>
                                    </div>
                                    <div id="collapseNew" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="http://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg" class="img-thumbnail" alt="Cinque Terre" width="247" height="192">
                                                </div>
                                                <p>Create a custom template and specify your fields</p>
                                                <button class="btn btn-template-main">Start Comparing</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" id="cameraTemplate">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#chooseTemplate" href="#collapseCameras">Cameras</a></h4>
                                    </div>
                                    <div id="collapseCameras" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="http://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg" class="img-thumbnail" alt="Cinque Terre" width="247" height="192">
                                                </div>
                                                <p>Specifications include:</p>
                                                <ul>
                                                    <li>Autofocus Points</li>
                                                    <li>Battery Life</li>
                                                    <li>Digital Zoom</li>
                                                    <li>Color</li>
                                                </ul>
                                                <button class="btn btn-template-main">Start Comparing</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" id="laptopTemplate">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#chooseTemplate" href="#collapseLaptops">Laptops</a></h4>
                                    </div>
                                    <div id="collapseLaptops" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="http://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg" class="img-thumbnail" alt="Cinque Terre" width="247" height="192">
                                                </div>
                                                <p>Specifications include:</p>
                                                <ul>
                                                    <li>Battery Life</li>
                                                    <li>Screen Size</li>
                                                    <li>Graphics</li>
                                                    <li>CPU</li>
                                                </ul>
                                                <button class="btn btn-template-main">Start Comparing</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" id="washerTemplate">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#chooseTemplate" href="#collapseWashingMachines">Washing Machines</a></h4>
                                    </div>
                                    <div id="collapseWashingMachines" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img src="http://foundation.zurb.com/assets/img/sites-templates/f6-template-realestate.svg" class="img-thumbnail" alt="Cinque Terre" width="247" height="192">
                                                </div>
                                                <p>Specifications include:</p>
                                                <ul>
                                                    <li>Style</li>
                                                    <li>Total Capacity</li>
                                                    <li>Washer Control Features</li>
                                                    <li>Wash/Rinse Temperatures</li>
                                                </ul>
                                                <button class="btn btn-template-main" onclick="">Start Comparing</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="location.href='/'" class="btn btn-template-main">Return to Homepage</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
$('#selectTemplateModal').modal('show');
</script>
