<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/userNavBar.html" %}

<link href="../static/css/profile.css" rel="stylesheet">

<body>


<div id="container">

</div>

<div id="all">

    <!-- *** HOMEPAGE CAROUSEL *** -->
    <div>
        <div id="dash-username">
            <div id="dash-username-content">
                <p style="text-align: center;"><img
                        src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg"></p>
                <h1 align="center">{{ current_user.username }}'s Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="home-carousel" style="height: 20em">

        <div class="dark-mask"></div>

        <div class="container">
            <div class="row">
                <div class="container">
                    <br>
                    <br>
                    <div class="col-sm-6">
                        <div class="heading text-left">
                            <h3>Recent Comparisons</h3>
                        </div>
                        <!--<div id="recent-comp" data-feed="{{recent_comp}}">-->
                        {% for row in recent_comp %}
                        <button type="button" onclick="location.href='{{row['id'] | share_comparison}}'">
                            {{row['name']}}
                        </button>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="heading text-left">
                        <h3>Or Make a New Comparison!</h3>
                    </div>
                    <div class="text-left">
                        <br>
                        <button type="submit" class="btn btn-template-main btn-lg" onclick="location.href='workspace'">
                            Start Comparing
                        </button>
                    </div>
                    <br>
                </div>
            </div>
            <!-- </div> -->
            <!-- </div>
        </div> -->

            <div class="container" align="center" style="padding-left: 4em">
                <!-- <div class="col-sm-11" align="center"> -->
                <ul class="tab" style="padding-left: 2em">
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'comparisons')"
                           id="defaultOpen">My Comparisons</a></li>
                    <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'templates')">My
                        Templates</a></li>
                </ul>

                <div class="col-sm-11" align="center" style="margin-top: 0">
                    <div id="comparisons" class="tabcontent">
                        <h3>Comparisons</h3>
                        <!--<div id="all-comp" data-feed="{{all_comp}}">-->
                        {% for row in all_comp %}
                        <button type="button" onclick="location.href='{{row['id'] | share_comparison}}'">
                            {{row['name']}}
                        </button>
                        {% endfor %}
                    </div>

                    <div id="templates" class="tabcontent">
                        <h3>Templates</h3>
                        {% for row in all_temp %}
                        <button type="button" onclick="location.href='{{row['id'] | share_template}}'">
                            {{row['name']}}
                        </button>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <script>
            function openTab(evt, tab) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tab).style.display = "block";
                evt.currentTarget.className += " active";
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();



            </script>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
</div>
<!-- *** HOMEPAGE CAROUSEL END ***

<!-- Include the footer for things like copyright info and JS scripts -->
{% include "partials/footer.html" %}
</div>
<!--<script src="../static/scripts/js/dashboard.bundle.js"></script>-->
</body>
</html>
