<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/guestNavBar.html" %}

<body>

<div id="all">

    <!-- *** HOMEPAGE CAROUSEL *** -->

    <div class="home-carousel">
        <br>
        <div class="heading text-center">
            <h3>Forgot your Password?</h3>
        </div>
        <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    {% if change_success %}
                        <div class="alert alert-success" role="alert" id="invalidLink">
                            <strong>Success!</strong>
                            <span id="invalidLinkResult">You have successfully changed your password!</span>
                        </div>
                    {% else %}
                        {% if not valid_link %}
                            <div class="alert alert-danger" role="alert" id="invalidLink">
                                <strong>Uh oh!</strong>
                                <span id="invalidLinkResult">This link has expired.</span>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-template-main">Submit</button>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </form>
        <br>
    </div>
    <!-- *** HOMEPAGE CAROUSEL END *** -->

    <!-- Include the footer for things like copyright info and JS scripts -->
    {% include "partials/footer.html" %}

</div>

</body>
</html>