<!DOCTYPE html>
<html lang="en">

<!-- Include the head tags -->
{% include "partials/header.html" %}
<!-- Include the nav bar for a user who isn't logged in -->
{% include "partials/userNavBar.html" %}

<link href="../static/css/profile.css" rel="stylesheet">

    <body>
        <!-- Template Link -->
        <div id="template" data-template="{{template}}" data-templateName="{{templateName}}"></div>

        <div class="nav-side">
            <div>
                <center>
                    <h1 align="center"><strong>{{ templateName['name'] }}</strong></h1>
                </center>
            </div>
        </div>

        <div class="profile-data">
            <form action="/updateTemplate">

                {% for attr in template %}
                    <input type="text" value={{attr['name']}} />
                    <br>
                {% endfor %}

                <button type="submit" name="editTemplate">Update</button>
            </form>
        </div>
    </body>

<!-- Include the footer for things like copyright info and JS scripts -->
{% include "partials/footer.html" %}
</html>