/*CSS Specific for About*/

/*Global Variables*/
@primary-col: #5fa4eb;
@secondary-col: #ff9900;
@back-col: #eee;
@primary-text: #111;
@secondary-text: #fff;
@nav-side-primary-text: rgb(147,149,152);
@nav-side-secondary-text: #000;
@shadow: rgba(4, 4, 4, 0.1);

body {
    /*padding-top: 2% ! important;*/
    font-family: Raleway;
    font-style: normal;
    font-variant: normal;
    background-color: rgb(233, 234, 235);
}

div.banner img{
	width: 100%;
  padding-bottom: 3%;
}
/*div.banner {
  position: fixed;
}*/

div.row {
  padding-left: 3%;
    padding-right: 3%;
}

#main-text {
  	font-size: 50px;
  	border-right: 1px solid gray;
}

div.col-sm-4 {
    text-align: right;
}

