/*CSS Specific for About*/
/*Global Variables*/
body {
  /*padding-top: 2% ! important;*/
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  background-color: #e9eaeb;
}
div.banner img {
  width: 100%;
  padding-bottom: 3%;
}
/*div.banner {
  position: fixed;
}*/
div.row {
  padding-left: 3%;
  padding-right: 3%;
  overflow: hidden;
}
#main-text {
  font-size: 50px;
  border-right: 1px solid gray;
}
div.col-sm-4 {
  text-align: right;
}
