/*Main Styling for The Comparator */
/*Global Variables*/
/*Background*/
body {
  background-color: #eee;
}
/*Footer*/
footer {
  background-color: #5fa4eb;
  color: #fff;
  height: 10em;
  text-align: center;
  padding-top: 2%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
/*Nav Bar*/
#nav navbar-nav navbar-right:focus {
  border-bottom: 2em solid #ff9900;
}
#menu-items ul {
  list-style-type: none;
  padding-bottom: 10%;
}
h3,
#menu-items ul {
  color: #111;
  text-align: left;
}
img,
#menu-items ul {
  border-radius: 50%;
}
li,
#menu-items ul {
  list-style-type: none;
  padding-top: 1%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}
#login-dropdown {
  background-color: #5fa4eb;
  color: #ff9900 !important;
  /*why u no worl???*/
}
/*Buttons*/
button {
  margin: none;
  color: #fff;
  background-color: #5fa4eb;
  border-radius: 0 !important;
}
button:hover {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 2px;
  background-color: #ff9900;
  color: #fff !important;
  text-shadow: #ffdd44;
}
/*Div.Container*/
/*navbar

primary color

secondary color

footer

button

dorpdown*/
