 /*Main Styling for The Comparator */

/*Global Variables*/
@primary-col: #5fa4eb;
@secondary-col: #ff9900;
@back-col: #eee;
@primary-text: #111;
@secondary-text: #fff;

/*Background*/
body {
    background-color: @back-col;
}

/*Footer*/
footer {
    background-color: @primary-col;
    color: @secondary-text;
    height: 10em;
    text-align: center;
    padding-top: 2%;
    position: fixed;
    bottom: 0px;
    width: 100%
}

/*Nav Bar*/
#nav navbar-nav navbar-right:focus {
    border-bottom: 2em solid @secondary-col;
}

#menu-items ul {
    list-style-type: none;
    padding-bottom: 10%;
    /*&:extend(h3, img, li);*/
}
#menu-items ul h3 {
    color: @primary-text;
    text-align: left;
}
#menu-items ul img {
    border-radius: 50%

}
#menu-items ul li {
    list-style-type: none;
    padding-top: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}
#login-dropdown {
    background-color: @primary-col;
    color:  @secondary-col !important;  /*why u no worl???*/
}

/*Buttons*/
button {
    margin: none;
    color: @secondary-text;
    background-color: @primary-col;
    border-radius: 0 !important;
}
button:hover {
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    background-color: @secondary-col;
    color: @secondary-text !important;
    text-shadow: (@secondary-col + #444);
}

/*Div.Container*/
div.col-sm-5, div.col-sm-7 {
    border: 2px outset @secondary-col;
    box-shadow: 2px 2px 3em black;
    background-color: (@back-col + #111);
}

/*navbar

primary color

secondary color

footer

button

dorpdown*/ 