 /*Main Styling for The Comparator */

/*Global Variables*/
@primary-col: #5fa4eb;
@secondary-col: #ff9900;
@back-col: #ddd;
@primary-text: #111;
@secondary-text: #fff;
@shadow: rgba(4, 4, 4, 0.1);


header {
    box-shadow: 10px 10px 3em @shadow;
}
header img {
    border-radius: 50%;
    max-height: 20px;
    padding-top: 0 !important;
}
/*Background*/
body {
    background-color: @back-col;
}

/*Footer*/
footer {
    background-color: @primary-col;
    color: @secondary-text;
    height: 5em;
    text-align: center;
    padding-top: 1em;
    position: fixed;
    bottom: 0px;
    width: 100%
}

/*Nav Bar*/
#nav navbar-nav navbar-right:focus {
    border-bottom: 2em solid @secondary-col;
}
.navbar-brand {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

#menu-items ul {
    list-style-type: none;
    padding-bottom: 10%;
    /*&:extend(h3, img, li);*/
}
#menu-items ul h3 {
    color: @primary-text;
    text-align: left;
}
#menu-items ul img {
    border-radius: 50%

}
#menu-items ul li {
    list-style-type: none;
    padding-top: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}
#login-dropdown {
    background-color: @primary-col;
    color:  @secondary-col !important;  /*why u no work???*/
}

/*Buttons*/
button {
    margin: none;
    color: @secondary-text;
    background-color: @primary-col;
    border-radius: 0 !important;
}
button:hover {
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    background-color: @secondary-col;
    color: @secondary-text !important;
    text-shadow: (@secondary-col + #444);
}

/*Div.Container*/
div.col-sm-5, div.col-sm-6, div.col-sm-7, div.col-sm-11 {
    border-right: 2px outset @secondary-col;
    border-bottom: 2px outset @secondary-col;
    box-shadow: 10px 10px 3em @shadow;
    background-color: (@back-col + #222);
    border-radius: 5px;
    margin: 1.5em;
    margin-top: 0;
    overflow: hidden !important;
}
#carousel {
    padding-top: 2em;
    padding-bottom: 2em;
}
/*
#home-car-cont, #home-data-cont {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
}*/


/*navbar

primary color

secondary color

footer

button

dorpdown*/