/*CSS Specific for User Dashboard*/

/*Global Variables*/
@primary-col: #5fa4eb;
@secondary-col: #ff9900;
@back-col: #ddd;
@primary-text: #111;
@secondary-text: #fff;


#dash-username {
    background-color: rgba(0, 0, 0, 0.5);
    height: 8em;
}
#dash-username h1 {
  color: @secondary-text;
}


/*COMPARISON-TEMPLATE TABS*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: @secondary-text;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: @secondary-col;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: @primary-col;
    color: @secondary-text;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
/*END TABS*/


/*RECENT COMPARISONS*/
#recent-comp-extra {
  height: 10px;
  clear: both;
}
#recent-comp {
    transition: 1s transform;
}
.tile {
    width: 5em;
    height: 5em;
    border: 2px solid @secondary-col;
    background-color: @primary-col;
    padding: 1em;
    box-sizing: border-box;
    transition: 1s transform;
    transform-origin: top left;
    float: left;
    margin-right: 1em;
}

#recentComp:hover {
    transform: translate3d(-2em, 0, 0);
}

.tile:hover {
    transform: scale(2);
}

.tile:hover ~ .tile {
    transform: translate3d(2em, 0, 0);
}

#recent-comp:hover + #recent-comp-extra {
    height: 6em;
/*    max-height: 500px;
    transition: max-height 0.25s ease-in;*/
}
/*END RECENT COMPARISONS*/