/*Global Variables*/
body {
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  background-color: #e9eaeb;
  overflow-x: hidden;
  padding-bottom: 300px;
}
/*SIDE NAVBAR*/
#nav-side {
  background-color: #e9eaeb;
  height: 100%;
  position: fixed;
  box-shadow: 10px 10px 3em rgba(4, 4, 4, 0.1);
  font-size: 20px;
  padding-top: 18%;
  padding-left: 4%;
}
#template-name {
  background-color: #5fa4eb;
  width: 100%;
  padding-left: 15%;
  border: 1px solid #ff9900;
}
#template-name input[type="text"] {
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 0px;
  text-align: center;
  background-color: #5fa4eb ! important;
  border: none ! important;
  color: #fff;
}
#template-name input[type="text"]:focus {
  background-color: #e9eaeb ! important;
  color: #5fa4eb;
}
#attributes {
  height: 70vh;
  padding-left: 36.5%;
  padding-top: 3%;
}
#attributes button {
  height: 35px;
  font-size: 17px;
  border: none;
}
#update {
  padding-top: 3.5%;
}
input[type="text"] {
  border: 1px solid #e9eaeb;
  background-color: #e9eaeb ! important;
  font-size: 20px;
  padding-left: 50px;
  width: 80%;
}
input[type="text"]:focus {
  border: 1px solid #5fa4eb;
  background-color: white ! important;
}
#add-attribute {
  font-size: 20px;
  color: #5fa4eb;
}
#add-attribute:hover {
  color: #ff9900;
}
#add-attribute b {
  padding-left: 15px;
}
hr {
  border-top: 1px solid #939598;
}
