.editor {
    border-color: cadetblue;
    border: 5px;
    border-style: solid;
    height: 200px;
    width: 200px;
}

.empty-table {
    background: transparent;
}

.btn-toolbar {
    background: #555;
    height: 3.5rem;
    padding: 10px;
    margin-bottom: 3.5rem;
}